@media (max-width: 480px){
    .container{
        width: 100%;
    }

    .container .header .titulo h1{
        font-size: 100%;
    }

    .container .busca-informacoes{
        width: 60%;
    }

    .container .info-vetor{
        width: 70%;
    }

    .container .info-vetor .resumo{
        width: 80%;
    }

    .container .info-vetor .resumo div:first-child h3{
        font-size: 100%;
    }
}