@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container .header, .footer{
    background-color: rgba(51, 51, 51, 1);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    right: 0;
}

.container .header .logo-oi-solucoes{
    margin-left: 5%;
}

.container .header .logo-oi-solucoes img{
    width: 100%;
}

.container .header .titulo{
    margin-left: 20%;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.015em;
}

.container .busca-informacoes{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 2%;
}

.container .busca-informacoes p{
    text-align: center;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.015em;
}

.container .busca-informacoes form{
    display: flex;
    flex-direction: row;
}

.container .busca-informacoes form div:first-child{
    flex: 1;
}

.container .busca-informacoes form div input{
    width: 90%; 
    box-sizing: border-box;
    border-radius: 8px;
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.015em;
}

.container .busca-informacoes form div button{
    background-color: #8C1AC0;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.015em;
    color: #FFF;    
}

.container .info-vetor{
    margin-top: 2%;
    align-self: center;
    width: 60%;
    padding-bottom: 5%;
    border: 1px solid black;
}

.container .info-vetor nav .menu{
    display: flex;
    margin-top: -0.5px;
    list-style: none;
    background-color: #C4C4C4;
}

.container .info-vetor nav .menu a{
    background-color:#808080;
    color: #FFF;
    width: 20%;
    text-decoration: none;
    margin-right: 1px;
    padding: 1%;
}

.container .info-vetor nav .menu a:first-child{
    background-color: #464444;
    margin-left: 28%;
}

.container .info-vetor nav .menu a:last-child{
    margin-right: 20%;
}

.container .info-vetor nav .menu a li{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.015em;
}

.container .info-vetor .resumo{
    background-color: #C4C4C4;
    align-self: center;
    width: 55%;
    padding-bottom: 5%;
    margin-top: 2%;
    border-radius: 4px;
}

.container .info-vetor .resumo div:first-child{
    align-self: center;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.015em;
    margin-top: 5%;
}

.container .info-vetor .resumo .informacoes{
    display: flex;
    width: 93%;
    margin-left: 3%;
}

.container .info-vetor .resumo .informacoes table{
    width: 100%;
}

.container .info-vetor .resumo div table tr{
    display: flex;
    width: 100%;
    margin-top: 3%;
    border-bottom: 1px solid #FFF;
}

.container .info-vetor .resumo div table tr .item{
    flex-grow: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.015em;
}

.container .info-vetor .resumo div table tr .valor{
    flex-grow: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    letter-spacing: -0.015em;
}

.container .info-vetor .resumo div table tr .valor{
    align-self: flex-end;
}

.container .footer{
    height: 150px;
    width: 100%;
    margin-top: 5%;
}

.container .footer .logo-jarvis{
    margin-left: 5%;
}

.container .footer .logo-jarvis img{
    width: 100%;
}

.container .footer .navegacao{
    text-align: center;
    margin-left: 25%;
}

.container .footer .navegacao ul div:last-child{
    width: 500px;
    margin-left: 50%;
}

.container .footer .navegacao ul{
    display: flex;
    align-items: center;
}

.container .footer .navegacao ul .linha-vertical, .linha-vert{
    height: 100px;
    margin-left: -30%;
    margin-right: 30%;
    border-left: 1px solid #FFF;
}

.container .footer .navegacao ul .linha-vert{
    margin-left: 30%;
    margin-right: -30%;
}

.container .footer .navegacao ul div li{
    list-style-type: none;
    margin-top: 5%;
}

.container .footer .navegacao ul div li a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}