.container{
    background-color: rgba(51, 51, 51, 1);
    height: 15%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
}

.container div:first-child{
    padding-left: 5%;
}

.container div:last-child{
    padding-left: 20%;
}